@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color: var(--text-primary);
  background-color: #FCFFFF;
  --text-primary: #1D0200;
}

body.dark-mode {
  background-color: #7B3F00;
  --text-primary: #FCFFFF;
  --text-primary-disable: #1D0200;
  --surface-900: #1D0200;
}
